* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}
.author-info a {
    text-decoration: none;
}
.gen-new{
    width: 100%;
    align-items: center;
    margin: 50px 50px 0px 50px;
}
.imagen{
    display: grid;
    place-items: center;
}
.descripcion h1{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
    font-size: 3rem;
}
.descripcion{
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 15px;
}
.datos-C{
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 25px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    gap: 15px;
    padding: 25px;
    /*padding-top: 25px;
    border-radius: 10px;*/
}
form input, button{
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}
form button{
    background-color: #284BCE;
    color: #FFFFFF;
    padding-left: 200px;
    padding-right: 200px;
}
form input{
    padding-left: 163px;
    padding-right: 163px;
}
@media screen and (min-width: 640px) {
    .gen-new{
        padding: 10px;
    }
    .datos-C{
        max-width: 100%;
    }
    form input{
        padding-left: 50px;
        padding-right: 50px; 
    }
    form button{
        padding-left: 95px;
        padding-right: 95px; 
    }
    span{
        text-align: center;
    }
}
@media screen and (min-width: 641px) and (max-width: 1024px){
    .gen-new{
        max-width: 900px;
    }
    .datos-C{
        max-width: 600px;
        padding: 0 auto;
    }
    form{
        padding: 30px;
    }
    form input, button{
        max-width: 500px;
    }
}
@media screen and (min-width: 1281px){
    .datos-c{
        max-width: 800px;
    }
    form input, button{
        max-width: 600px;
    }
}